@import "tailwindcss";

@font-face {
  font-family: "Montserrat";
  src: url('./assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body{
  font-family: "Montserrat";

}
.direction{width: 40px;
  animation-name: direction;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes direction{
  0%{transform: translateY(-10px);}
  50%{transform: translateY(10px);}
  100%{transform: translateY(-10px);}
}
.title{
  width: 4rem;
  animation-name: title;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes title{
  0%{transform: scale(1);}
  50%{transform: scale(1.2);}
  100%{transform: scale(1);}
}
.about{clip-path: polygon(60% 0, 100% 0, 100% 100%, 40% 100%);
  opacity: .9;
}

.skill{animation-name: skill;
  animation-duration: 5s;
  animation-iteration-count: infinite;}
@keyframes skill{
    0%{transform: translateX(-5px);}
    50%{transform: translateX(5px);}
    100%{transform: translateX(-5px);}
}

@media (max-width:1050px){
   .list{flex-direction: column;
    position: absolute;
    background-color: #f3f4f6;
    top: 0;
    padding: 150px 0 0 2.5rem;
    height:100vh;
    justify-content: start;
    align-items: start;
    gap: 20px;
  }
  .menu{display: block;}
}
@media (max-width:850px) {
  html{font-size: 14px;}
}
.home{clip-path: polygon(60% 0, 100% 0, 100% 100%, 40% 100%);}
@media (max-width:600px) {
  .name{display: block;
    margin: 0 auto;
    width: fit-content;
  }
}

.section {
  color: #000; /* text-black */
  background-color: oklch(0.905 0.182 98.111); /* bg-yellow-300 */
  border: 2px solid #000; /* border-2 border-black */
  border-radius: 0.5rem; /* rounded-lg */
  box-shadow: 5px 5px 0px #000; /* shadow */
  transition: all 0.3s ease; /* transition-all duration-300 */
  width: fit-content; /* w-fit */
}

.section:hover {
  background-color: #fff; /* hover:bg-white */
  border-color: #000; /* hover:border-black */
  box-shadow: 5px 5px 0px #000; /* hover:shadow */
}

.section:active {
  background-color: #fff; /* active:bg-white */
  box-shadow: none; /* active:shadow-none */
  transform: translateY(4px); /* active:translate-y-1 */
}

